# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Packaging / build artifacts
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# 実験フォルダー
/tests/**/*.py

# データフォルダ
/examples/data/**/

# figure
/examples/figure/**/